{% extends "base.html" %} {% block content %}
<div class="container text-center d-flex flex-column justify-content-center align-items-center">
  <div class="row mt-5 main-row w-100">
    <!-- Left Column: Create Room -->
    <div class="col left-col mx-2 rounded shadow-lg d-flex flex-column justify-content-center align-items-center">
      <div class="p-3">
        <p class="h1">Get a Room</p>
        <form method="POST" action="/">
          {{ createRoomForm.csrf_token }} {{ createRoomForm.newSubmit }}
        </form>
      </div>

      <div class="p-3">
        {% if message %}
        <h3 class="room-id" id="copyText">{{ message }}</h3>
        <button class="btn btn-primary copy-btn" onclick="copyToClipboard()">
          Copy
        </button>
        {% endif %}
      </div>
    </div>

    <!-- Right Column: Join Room -->
    <div class="col right-col mx-2 rounded shadow-lg d-flex flex-column justify-content-center align-items-center">
      <!--<div class="p-3">-->
        <p class="h1 pb-3">Join a Room</p>
        <form method="POST" action="/" class="d-flex flex-column w-50 justify-content-center align-items-center">
          {{ roomJoinForm.csrf_token }} {{ roomJoinForm.key }}
          <div class="p-3">{{ roomJoinForm.joinSubmit }}</div>
        </form>
      <!--</div>-->
    </div>
  </div>
</div>
{% endblock %}
