<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
      />
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    </head>
    <body >
      <div class="container ">
        
        <div class="p-5  left-col  bg-info scrollable-div d-flex flex-column  align-items-center h-100">
          
          <p class="align-self-start">Messages[{{message_count}}]</p>
          {% for message in messages %}
            <div class="message m-2 w-75"><p>{{ message.content }}</p><p>{{ message.time_sent.strftime("%m/%d/%Y, %H:%M:%S") }}</p><p>username</p></div>
          {% endfor %}
          <form method="POST" action="" class="message-input-form mb-5">
            {{ form.csrf_token }}
            <!-- {{ form.textMessage.label }} -->
            {{ form.textMessage }}
            {{ form.messageSubmit }}
          </form>
        </div>
        </div>
      </body>
    </html>