{% extends "base.html" %} {% block content %}
<div class="container">
  <div id="messages" class="p-5 left-col scrollable-div d-flex flex-column align-items-center h-100">

    <!--for js socketio-->
    <input type="hidden" id="room-id" value="{{ room_id }}">
    <p class="message-header align-self-start">Messages [{{ message_count }}]</p>
    <p class="message-header align-self-start">Room: [{{ room_id }}]</p>

    {% for message in messages %}
    <div class="message m-2 w-75">
      <p>{{ message.content }}</p>
      <p>{{ message.time_sent.strftime("%m/%d/%Y, %H:%M:%S") }}</p>
      <!-- <p>username</p> -->
    </div>
    {% endfor %}
  </div>

    <form method="POST" action="" class="message-input-form mb-5">
      {{ form.csrf_token }} {{ form.textMessage }} {{ form.messageSubmit }}
    </form>

</div>
{% endblock %}
